<div *ngIf="this.data" class="selected-elem">
  <h2>{{data.name}} {{data.productNr}}</h2>
  <form class="edit-form" [formGroup]="productEditForm" autocomplete="off" novalidate (ngSubmit)="editProduct(productEditForm.value)" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Neve</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="hasError('name', 'required')">Név megadása kötelező</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cikkszám</mat-label>
      <input matInput formControlName="productNr" placeholder="">
      <mat-error *ngIf="hasError('productNr', 'required')">Cikkszám megadása kötelező</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mértékegység</mat-label>
      <input matInput formControlName="unit">
      <mat-error *ngIf="hasError('unit', 'required')">Mértékegység megadása kötelező</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Beszállítói ár</mat-label>
      <input matInput formControlName="purchasePrice" type="number">
      <mat-error *ngIf="hasError('purchasePrice', 'required')">Beszállítói ár megadása kötelező</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Eladási ár</mat-label>
      <input matInput formControlName="price" type="number">
      <mat-error *ngIf="hasError('price', 'required')">Eladási ár megadása kötelező</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary">Módosítás</button>
  </form>
</div>
