<h2 class="title">{{title}}</h2>

<mat-form-field>
  <mat-label>Kereső</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="keresés...">
</mat-form-field>
<div class="warehouse-table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="products-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.name">{{element.name}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef>Raktár</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.area"><a [routerLink]="['/raktar']">{{element.area}}</a></div>
      </td>
    </ng-container>
    <ng-container matColumnDef="productNr">
      <th mat-header-cell *matHeaderCellDef>Cikkszám</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.productNr">{{element.productNr}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef>Mennyiség</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.stock">{{element.stock}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef>Mértékegység</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.unit">{{element.unit}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="purchasePrice">
      <th mat-header-cell *matHeaderCellDef>Beszállítói ár</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.purchasePrice">{{element.purchasePrice}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Eladási ár</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.price">{{element.price}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="supplier">
      <th mat-header-cell *matHeaderCellDef>Beszállító</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.supplier">{{element.supplier}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Részletek</th>
      <td class="align-right" (click)="openDialog(element)" mat-cell *matCellDef="let element">
        <i class="material-icons">reorder</i>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Törlés</th>
      <td class="align-right" mat-cell *matCellDef="let element">
        <i (click)="deleteProduct(element.pID)" class="material-icons">delete</i>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<!-- Új termék -->
<mat-expansion-panel class="add-new-area">
  <mat-expansion-panel-header>Új termék hozzáadása</mat-expansion-panel-header>
  <form [formGroup]="whForm" autocomplete="off" novalidate (ngSubmit)="createProduct(whForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="flex">
      <mat-form-field>
        <mat-label>Neve</mat-label>
        <input formControlName="name" name="name" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('name', 'required')">Név megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Raktár</mat-label>
        <mat-select formControlName="area" placeholder="" [(value)]="selectedArea">
          <mat-option value="{{a.areaId}}" *ngFor="let a of areas">{{a.shelf}}, ({{a.name}}, {{a.row}}|{{a.column}})</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('area', 'required')">Raktár megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cikkszám</mat-label>
        <input formControlName="productNr" name="productNr" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('productNr', 'required')">Cikkszám megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mennyiség</mat-label>
        <input formControlName="stock" name="stock" type="number" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('stock', 'required')">Mennyiség megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mértékegység</mat-label>
        <input formControlName="unit" name="unit" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('unit', 'required')">Mértékegység megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Beszállítói ár</mat-label>
        <input formControlName="purchasePrice" type="number" name="purchasePrice" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('purchasePrice', 'required')">Beszállítói ár megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Eladási ár</mat-label>
        <input formControlName="price" type="number" name="price" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('price', 'required')">Név megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Beszállító</mat-label>
        <mat-select formControlName="supplier" placeholder="" [(value)]="selectedSupplier">
          <mat-option value="{{s.pID}}" *ngFor="let s of suppliers">{{s.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('supplier', 'required')">Beszállító megadása kötelező</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="!whForm.valid">Hozzáadás</button>
  </form>
</mat-expansion-panel>
