mat-chip {
  display: flex;
  flex-wrap: wrap;
  height: unset;
}

mat-chip span  {
  width: 100%;
}

mat-chip small {
  font-style: italic;
  font-size: 10px;
}

mat-chip-list {
  padding-top: 5px;
  padding-bottom: 5px;
}

mat-chip-list.me {
  display: flex;
  justify-content: flex-end;
}

mat-form-field.type {
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #949494;
}

.msg-wrapper {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  mat-form-field {
    width: 100%;
  }
}
