<h2 class="title">{{title}}</h2>

<mat-form-field>
  <mat-label>Kereső</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="keresés...">
</mat-form-field>
<div class="warehouse-table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="workers-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.name">{{element.name}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.email">{{element.email}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Cím</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.address">{{element.address}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Részletek</th>
      <td class="align-right" (click)="openDialog(element)" mat-cell *matCellDef="let element">
        <i class="material-icons">reorder</i>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Törlés</th>
      <td class="align-right" mat-cell *matCellDef="let element">
        <i (click)="deleteWorker(element.areaId)" class="material-icons">delete</i>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Új terület -->
<mat-expansion-panel class="add-new-worker">
  <mat-expansion-panel-header>Új raktáros hozzáadása</mat-expansion-panel-header>
  <form [formGroup]="whForm" autocomplete="off" novalidate (ngSubmit)="createWorker(whForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="flex">
      <mat-form-field>
        <mat-label>Név</mat-label>
        <input formControlName="name" name="name" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('name', 'required')">Név megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Jelszó</mat-label>
        <input formControlName="password" type="password" name="password" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('password', 'required')">Jelszó megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" name="email" type="email" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('email', 'required')">Email megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cím</mat-label>
        <input formControlName="address" name="address" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('address', 'required')">Cím megadása kötelező</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="!whForm.valid">Hozzáadás</button>
  </form>
</mat-expansion-panel>

<!-- Új terület -->
<mat-expansion-panel class="add-new-list">
  <mat-expansion-panel-header>Új összekészítési lista hozzáadása</mat-expansion-panel-header>
  <form [formGroup]="listForm" autocomplete="off" novalidate (ngSubmit)="createList(listForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="flex">
      <mat-form-field>
        <mat-label>Vásárló</mat-label>
        <mat-select formControlName="wID" placeholder="" [(value)]="selectedWorker">
          <mat-option value="{{worker.wID}}" *ngFor="let worker of elements">{{worker.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="addProduct($event)" mat-raised-button color="primary">Termék hozzáadása</button>
    </div>
    <div *ngFor="let control of productsInput.controls; index as i">
      <ng-container [formGroup]="productsInput.controls[i]">
        <mat-form-field>
          <mat-label>Termék</mat-label>
          <mat-select formControlName="product" placeholder="">
            <mat-option value="{{product.pID}}" *ngFor="let product of products">{{product.name}} ({{product.productNr}})</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mennyiség</mat-label>
          <input matInput formControlName="count" type="number" placeholder="" value="" min="1">
        </mat-form-field>
        <button *ngIf="i > 0" mat-raised-button color="primary" (click)="removeProduct($event, i)">Tétel törlése</button>
      </ng-container>
    </div>
    <button mat-raised-button color="primary" [disabled]="!listForm.valid">Hozzáadás</button>
  </form>
</mat-expansion-panel>

<mat-expansion-panel class="check-list">
  <mat-expansion-panel-header>Összekészítési listák raktárosonként</mat-expansion-panel-header>
  <mat-form-field>
    <mat-label>Válasszon raktárost</mat-label>
    <mat-select placeholder="" [(ngModel)]="selectedWorkerForList" (selectionChange)="changeWorkerForList($event)">
      <mat-option value="{{worker.wID}}" *ngFor="let worker of elements">{{worker.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="workerLists.length && selectedWorkerForList" class="workLists">
    <div *ngFor="let wList of workerLists">
      <mat-expansion-panel (click)="changeWorkListSelected(wList)">
        <mat-expansion-panel-header>{{wList.wlID}}</mat-expansion-panel-header>
        <mat-selection-list (selectionChange)="changeWorkList($event)">
          <mat-list-option *ngFor="let p of wList.products" [selected]="p.ready" [value]="p.product">
            {{p.productObj.name}} ({{p.productObj.productNr}})
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </div>
  </div>
  <div *ngIf="!workerLists.length && selectedWorkerForList" class="workLists">
    Nincs jelenleg még összekészítési listája
  </div>
</mat-expansion-panel>
