.workers-table {
  width: 100%;
  margin-bottom:10px;
}
.workers-table .align-right {
  text-align: right;
}
.add-new-worker .mat-form-field {
  margin-right: 10px;
}
.add-new-worker button {
  margin-top: 10px;
}
.add-new-worker {
  margin: 15px 0;
}
.addnewrow {
  display: block;
}
.add-new-list .mat-form-field-wrap {
  margin-bottom: 10px;
  display:block;
}
