<h2 class="title">{{title}}</h2>

<!-- Táblázat -->
<mat-form-field>
  <mat-label>Kereső</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="keresés...">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 task-table">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Cím</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>Létrehozva</th>
    <td mat-cell *matCellDef="let element"> {{element.created.toDate().toDateString()}} </td>
  </ng-container>
  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef>Határidő</th>
    <td mat-cell *matCellDef="let element"> {{element.deadline.toDate().toDateString()}} </td>
  </ng-container>
  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef>Fontos</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.priority"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="done">
    <th mat-header-cell *matHeaderCellDef>Kész</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.done"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="details">
    <th class="align-right" mat-header-cell *matHeaderCellDef>Részletek</th>
    <td class="align-right" (click)="openDialog(element)" mat-cell *matCellDef="let element">
      <i class="material-icons">reorder</i>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th class="align-right" mat-header-cell *matHeaderCellDef>Törlés</th>
    <td class="align-right" mat-cell *matCellDef="let element">
      <i (click)="deleteTask(element.taskId)" class="material-icons">delete</i>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- Új feljegyzés -->
<mat-expansion-panel class="add-new-task">
  <mat-expansion-panel-header>Új feladat hozzáadása</mat-expansion-panel-header>
  <form [formGroup]="taskForm" autocomplete="off" novalidate (ngSubmit)="createTask(taskForm.value)" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Cím</mat-label>
      <input formControlName="name" name="name" matInput placeholder="" value="">
      <mat-error *ngIf="hasError('name', 'required')">Cím megadása kötelező</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Határidő</mat-label>
      <input formControlName="deadline" name="deadline" matInput [matDatepicker]="picker">
      <mat-error *ngIf="hasError('name', 'required')">Határidő megadása kötelező</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Megjegyzés</mat-label>
      <textarea formControlName="description" name="description" matInput placeholder="Kezdj el gépelni..."></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="priority" name="priority">Fontos</mat-checkbox>
    <button mat-raised-button color="primary" [disabled]="!taskForm.valid">Hozzáadás</button>
  </form>
</mat-expansion-panel>
