@import '../../../variables.scss';

.task-table {
  width: 100%;
}
.task-table .align-right {
  text-align: right;
}
.add-new-task {
  margin: 15px 0px
}
.add-new-task .mat-form-field {
  margin-left: 10px;
}
.add-new-task .mat-checkbox {
  margin: 0px 15px;
}
.task-table i {
  cursor:pointer;
}
.task-table .over {
  color: $errorColor;
  font-weight: bold;
}
.task-table .over:after {
  content: ('(!)');
  margin-left: 5px;
}
.task-table .over.priority:after {
  content: ('(!!)');
}
.task-table-container {
  max-height: 500px;
  overflow: auto;
}

