<h2 class="title">{{title}}</h2>

<mat-form-field>
  <mat-label>Kereső</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="keresés...">
</mat-form-field>
<div class="warehouse-table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="partners-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.name">{{element.name}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Ország</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.country">{{element.country}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Cím</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.city">{{element.city}}, {{element.address}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Vásárló</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox #priority (change)="editPartner(element)" *ngIf="element.customer != null" [(ngModel)]="element.customer"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="suppliers">
      <th mat-header-cell *matHeaderCellDef>Beszállító</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox #priority (change)="editPartner(element)" *ngIf="element.suppliers != null" [(ngModel)]="element.suppliers"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Részletek</th>
      <td class="align-right" (click)="openDialog(element)" mat-cell *matCellDef="let element">
        <i class="material-icons">reorder</i>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Törlés</th>
      <td class="align-right" mat-cell *matCellDef="let element">
        <i (click)="deletePartner(element)" class="material-icons">delete</i>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<!-- Új terület -->
<mat-expansion-panel class="add-new-area">
  <mat-expansion-panel-header>Új partner hozzáadása</mat-expansion-panel-header>
  <form [formGroup]="whForm" autocomplete="off" novalidate (ngSubmit)="createPartner(whForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="flex">
      <mat-form-field>
        <mat-label>Neve</mat-label>
        <input formControlName="name" name="name" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('name', 'required')">Név megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ország</mat-label>
        <mat-select formControlName="country" placeholder="" [(value)]="selectedCountry">
          <mat-option value="{{c}}" *ngFor="let c of countries">{{c}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('country', 'required')">Ország megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Város</mat-label>
        <input formControlName="city" type="text" name="city" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('city', 'required')">Város megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cím</mat-label>
        <input formControlName="address" type="text" name="address" matInput placeholder="" value="">
        <mat-error *ngIf="hasError('address', 'required')">Cím megadása kötelező</mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="customer" name="customer">Vásárló</mat-checkbox>
      <mat-checkbox formControlName="suppliers" name="suppliers">Beszállító</mat-checkbox>
      <ng-container matColumnDef="details">
        <th class="align-right" mat-header-cell *matHeaderCellDef>Részletek</th>
        <td class="align-right" (click)="openDialog(element)" mat-cell *matCellDef="let element">
          <i class="material-icons">reorder</i>
        </td>
      </ng-container>
    </div>
    <button mat-raised-button color="primary" [disabled]="!whForm.valid">Hozzáadás</button>
  </form>
</mat-expansion-panel>
