<h2 class="title">{{title}}</h2>

<div *ngIf="user && user.role === 'admin'">
  <mat-form-field>
    <mat-label>Kereső</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="keresés...">
  </mat-form-field>
  <div class="warehouse-table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc" class="receipts-table">
      <ng-container matColumnDef="bID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Azonosító</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.bID">{{element.bID}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dátum</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.date">{{element.date.toDate().toDateString()}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Termék</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.product"><a [routerLink]="['/products']">{{element.product.name}}</a></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="seller">
        <th mat-header-cell *matHeaderCellDef>Beszállító</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.seller"><a [routerLink]="['/partners']">{{element.seller.name}}</a></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mennyiség</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.stock && element.product">{{element.stock}} {{element.product.unit}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="allprice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Össz. ár</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.product && element.stock">{{element.stock * element.product.purchasePrice}}</div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<!-- Új bevét -->
<mat-expansion-panel class="add-new-area">
  <mat-expansion-panel-header>Új bevételezés</mat-expansion-panel-header>
  <form [formGroup]="whForm" autocomplete="off" novalidate (ngSubmit)="createReceipt(whForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="flex">
      <mat-form-field>
        <mat-label>Beszállító</mat-label>
        <mat-select (selectionChange)="changePartner($event.value)" formControlName="sellerId" placeholder="" [(value)]="selectedPartner">
          <mat-option value="{{seller.pID}}" *ngFor="let seller of sellers">{{seller.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('sellerId', 'required')">Raktár megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Termék</mat-label>
        <mat-select (selectionChange)="changeProduct($event.value)" formControlName="productId" placeholder="" [(value)]="selectedProduct">
          <mat-option value="{{product.pID}}" *ngFor="let product of products">{{product.name}} ({{product.productNr}})</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('sellerId', 'required')">Raktár megadása kötelező</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mennyiség</mat-label>
        <input matInput formControlName="stock" type="number" placeholder="" value="" min="1">
        <span *ngIf="selectedProductObj" matSuffix>{{selectedProductObj.unit}}</span>
        <mat-error *ngIf="hasError('stock', 'required')">Mennyiség megadása kötelező</mat-error>
        <mat-error *ngIf="hasError('stock', 'min')">Mennyiségnek nagyobbnak kell lennie mint 0</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="!whForm.valid">Hozzáadás</button>
  </form>
</mat-expansion-panel>
