.receipts-table {
  width: 100%;
}
.receipts-table .align-right {
  text-align: right;
}
.add-new-area .mat-form-field {
  margin-right: 10px;
}
.add-new-area button {
  margin-top: 10px;
}
.add-new-area {
  margin: 15px 0;
}
