@import "../../../variables.scss";
$border-bottom: 1px solid #ccc;

#menu .profile-img {
  height: 40px;
  width: 40px;
  background: #fff;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 20px;
}
#menu .profile {
  display: flex;
  flex-flow: row wrap;
  display: -ms-flexbox;
  justify-content: center;
  padding: 20px 0;
  border-bottom: $border-bottom;
}
#menu .menu-item {
  height: 60px;
  font-size: 16px;
  padding: 0px 15px;
  border-bottom: $border-bottom;
  transition: background-color .3s ease-in-out;
}
#menu .menu-item:hover {
  transition: background-color .3s ease-in-out;
  background-color: #273238;
}
#menu .menu-item a,
#menu .menu-item a:hover,
#menu .menu-item a:active,
#menu .menu-item a:focus {
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
  text-decoration: unset;
}
#menu .menu-item i {
  margin-right: 10px;
}

